@font-face {
  font-family: "Bai Jamjuree";
  src: url("./fonts/bai-jamjuree-latin-400-normal.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("./fonts/bai-jamjuree-latin-600-normal.ttf") format("truetype");
  font-weight: 600;
}
