* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-ios-color: hsl(171, 66%, 44%);
  --btn-mac-color: hsl(233, 100%, 69%);
  --titles-color: hsl(210 10% 33% / 90%);
  --paragraphs-color: hsl(201 11% 66% / 80%);
  --text-buttons-color: hsl(0, 0%, 100%);
}

body {
  min-height: 100dvh;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.125rem;
}

h1,
h2,
h3 {
  text-align: center;
  text-wrap: balance;
  color: var(--titles-color);
  font-weight: 600;
}

h2 {
  font-size: clamp(1.4rem, 2.5vw, 2rem);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

p {
  color: var(--paragraphs-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}

.available {
  margin-top: 3.5rem;
}

.available h2 {
  margin-bottom: 1rem;
}

.available__paragraph {
  margin-bottom: 2rem;
}

.companyLogos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  gap: 60px;
}

.companyLogos img {
  width: 100px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  background-color: hsl(201 11% 66% / 8%);
}

.footer__image {
  width: 50px;
}

.footer ul li {
  text-align: center;
  margin-block: 1.5rem;
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: var(--titles-color);
}

.footer__social-media-icons img {
  width: 20px;
  margin-inline: 0.8rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  background-image: url("./images/bg-header-mobile.png");
}

.header img[src="./images/logo.svg"] {
  width: 80px;
  height: 80px;
}

.history h1 {
  margin-top: -25px;
  font-size: clamp(1.7rem, 2.5vw, 2rem);
}

.history__buttons,
.available__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.history__buttons button,
.available__buttons button {
  padding: 0.8rem 1rem;
  width: 70%;
  border: none;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-radius: 30px;
  color: var(--text-buttons-color);
  font-weight: 600;
}

.history__buttons .system--ios,
.available__buttons .system-ios {
  background-color: var(--btn-ios-color);
  border-bottom-color: hsl(171, 66%, 30%);
  box-shadow: 0 8px 10px 1px hsl(171, 66%, 90%);
}

.history__buttons .system--mac,
.available__buttons .system-mac {
  margin-bottom: 8rem;
  background-color: var(--btn-mac-color);
  border-bottom-color: hsl(233, 100%, 60%);
  box-shadow: 0 8px 10px 1px hsl(233 50% 90%);
}

.history__paragraph {
  margin: 1rem 2.5rem 2.6rem 2.5rem;
}

.main {
  padding-inline: 0.5rem;
}

.snippets__paragraph,
.clipboard__paragraph,
.workflow__paragraph {
  margin: 1rem 0 3.5rem 0;
}

.snippets__left-content {
  display: flex;
  justify-content: center;
}

.snippets__left-content img {
  max-width: 300px;
  object-fit: contain;
}

.snippets__right-content,
.workflow {
  margin: 3.5rem 0 8rem 0;
}

.snippets__right-content h3 {
  margin-bottom: 0.7rem;
}

.snippets__right-content ul li {
  padding: 1rem 0 2rem 0;
  list-style: none;
}

.snippets__right-content ul li p {
  line-height: 1.6;
}

.workflow {
  margin-top: 5rem;
}

.workflow ul li {
  margin-block: 4rem;
  text-align: center;
  list-style: none;
}

.workflow ul li img {
  margin-bottom: 2rem;
}

.workflow ul li h3 {
  margin-bottom: 1rem;
}
